*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
    text-align: right;
}
.container{
    position:relative;
}
/* חלק עליון של המסך - תפריט וכו */
header{
    width:100%;
    height:108px;
    background-color:#909090;
    -webkit-box-shadow: inset 0px -9px 12px 1px rgba(181,181,181,1);
-moz-box-shadow: inset 0px -9px 12px 1px rgba(181,181,181,1);
box-shadow: inset 0px -9px 12px 1px rgba(181,181,181,1);
}

.header{
    width:900px;
    height:108px;
    margin:auto;
    padding-top: 15px;
}
.search-container{
    display: flex;
    justify-content: flex-end;
}
.searchicon{
    background-image: url(images/search_button.png);
    width:19px;
    height:19px;
    text-decoration: none;  
    display: inline-block;
}
.search{
    width:140px;
    position:relative;
    border-radius: 0 8px 0 0;
    border-style: none;
    font-size: 12px;
}
::placeholder{
    color:rgb(20, 20, 16);
    position: relative;
    right: 4px;
    width: 126px;
    background: transparent;
} 
.lang{
    display: inline;
    padding-left:15px;
    padding-top:4px;
    color:white;
    font-size: 12px;
    font-weight: bold;
}
nav{
    display:flex;
    align-items: flex-end;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow:1;
    padding-left:3px;
    padding-right:5px;
    z-index: 100;
}

.navbar li {
    list-style: none;
    font-weight: bold;
    font-size:15px;
    position:relative;
    color:white;
}
.navbar > li{
    height:60px;
    bottom:0;
}
.navbar a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}

#sep{
    background-image: url(images/menu_sep.png);
    background-repeat: no-repeat;
    width:3px;
}

.navbar  li:hover > a{
    color:rgb(35, 89, 150);
    text-decoration: underline;
}
.hidden{
    margin-top:19px;
    padding-top:3px;
    display: none;
    position: absolute;
    background-color: rgb(148, 143, 143);
    text-align: right;
    right:-3px;
    width:120px;
    -webkit-box-shadow: inset 0px 8px 12px 1px rgba(181,181,181,1);
-moz-box-shadow: inset 0px 8px 12px 1px rgba(181,181,181,1);
box-shadow: inset 0px 8px 12px 1px rgba(181,181,181,1);
}
.hidden li{
    padding:1.5px 2px;
    margin:0;
    text-align: right;
}
.hidden li:hover{
    background:rgb(197, 194, 194);
}
#dropdownsep{
    background-image: url(images/menu_dropdown_sep.png);
    background-repeat: repeat-x;
}

#about:hover > ul , #units:hover > ul , 
#responsibility:hover > ul ,#investors:hover > ul
, #stations:hover > ul ,#career:hover > ul ,#news:hover > ul{
    display: block; 
}

/* חלק אמצעי של המסך (כל מה שברקע הלבן) */
main{
    width:900px;  
    margin:auto;
    height:500px;
}
.row{
    display:flex;
    width:100%;
	padding-top: 20px;
	text-align: center;
    justify-content: space-between;
}
.row:nth-child(2){
    padding-top:10px;
}
.column-33{
    padding:7px;
    height:360px;
}
main .row:nth-child(2) .column-33{
    height:300px;
}
#first-row-images{
    border-radius: 0 0 20px 0;
}
#first-row-images-text{
    position:relative;
    background: rgba(138, 134, 134, 0.9);
    bottom: 105px;
    border-radius: 0 0 20px 0;
    color:white;
    padding:6px 8px 8px 10px;
    width:247px;
    height:94px;
    margin-right:8px;
    line-height:1;
}
#first-row-images-text:first-of-type:hover{
    background-color:#f8b713;
    transition: 0.8s;
}
#first-row-images-text p:first-child{
    font-size:14px;
    font-weight: bold;
    padding-bottom: 5px;
}
#first-row-images-text p:nth-child(2){
    font-size:13px;
    font-weight: 100;
}
#first-row-images-text a{
    float:left;
    color:white;
    font-size: 13px;
    cursor: pointer;
}
#readMore > div{
    background-image: url(images/read_more_white.png);
    background-size: initial;
    width:10px;
    height:9px;
    display: inline-block;
    background-repeat: no-repeat;
}
#readMore:hover{
    color: #0069aa;
}
#readMore:hover > div{
    background-image: url(images/read_more_blue.png);
}
.second-row-container{
    background-image: url(images/small_cube_bg.png);
    background-repeat: no-repeat;
    border-radius: 0 0 20px 0;
    height:240px;
    width:292px;
    background-size: initial;
}
h3{
    display: block;
    font-size: 0.9em;
    padding: 10px 12px;
    font-weight: bold;
    text-align: right;
    margin-right:10px;
    color:rgb(109, 109, 105);
}
h3 ~ img{
    margin:auto;
    padding-top:15px;
    display:block;
}
.second-row-container div a:first-child{
    float:left;
    color:rgb(122, 116, 116);
    font-size: 13px;
    cursor: pointer;
    padding:15px;
    margin-left:6px;
}
.second-row-container div a:hover{
    color: #0069aa;
}
.second-row-container div a:hover > .moreDetailsArrowIcon{
    background-image: url(images/read_more_blue.png);
}
.moreDetailsArrowIcon{
    background-image: url(images/read_more_yellow.png);
    display:inline-block;
    background-repeat: no-repeat;
    width:10px;
    height:9px;
}

.map-container{
    display:flex;
}

.map-areas{
    display:flex;
    flex-direction: column;
    padding-right: 25px;
    width:65%;
}
.map-areas a{
    color:rgb(114, 113, 109);
    font-size: 13px;
    padding:5px;
}
.map{
    width:35%;
}

/* FOOTER */
footer{
    height:38px;
    background-color: grey;
    position: fixed; 
    bottom: 0; 
    width:100%;
    -webkit-box-shadow: inset 0px 8px 12px 1px rgba(181,181,181,1);
    -moz-box-shadow: inset 0px 8px 12px 1px rgba(181,181,181,1);
    box-shadow: inset 0px 8px 12px 1px rgba(181,181,181,1);
}
footer ul{
    padding-top:10px;
    width:900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
    height:30px;
}
footer ul li{
    display:flex;
    list-style: none;
    font-size:14px;
    color:white;
}
footer ul li a{
    text-decoration:none;
    color:white;
    font-weight: 500;
}
footer ul li a:hover{
    color:#005da2;
    text-decoration: underline;
    text-shadow: 4px 1px 7px #FFF ;
}